{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Les différentes catégories</h1>
        <div class="container-fluide mt-5">
            {% for category in categories %}
                <div class="col-4 text-center fs-1"><a href="/category/{{ category.name }}">{{ category.name }}</a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
