.baniere-nav{
    height: 4vh;
}

.nav-box:hover{
    background-color: #e3e3e3 !important;
}

.nav-img{
    height: 70px;
    width: 150px;
    position: absolute;
    top: 30%;
}

.nav-box{
    height: 40px;
    width: 150px;
}

